@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), 
        url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), 
        url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat-MediumItalic'), url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'), 
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), 
        url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('PoiretOne-Regular'), url('../fonts/PoiretOne-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Darto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Darto'), url('../fonts/Darto.ttf') format('ttf');
}