@mixin resolution($breakpoint) {
    @if $breakpoint == very-big-desktop {
        @media only screen and (min-width: 1800px) {
          @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (max-width: 1500px) {
          @content;
        }
    }
    @if $breakpoint == desktop {
        @media (max-width: 1200px) {
          @content;
        }
    }
    @if $breakpoint == small-desktop {
        @media (max-width: 992px) {
              @content;
        }
    }
    @if $breakpoint == tablet {
        @media (max-width: 768px) {
              @content;
        }
    }
    @if $breakpoint == big-mobile {
        @media (max-width: 480px) {
            @content;
        }
    }
    @if $breakpoint == mobile {
        @media (max-width: 320px) {
            @content;
        }
    }
}

@mixin font($breakpoint) {
    @if $breakpoint == montserrat-regular {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
    }
    @if $breakpoint == montserrat-medium {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
    }
    @if $breakpoint == poiret-one {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
    }
    @if $breakpoint == darto {
        font-family: 'Darto';
        font-style: normal;
        font-weight: 400;
    }
}

@mixin typography($breakpoint) {
    @if $breakpoint == montserrat-18 {
        @include font(montserrat-medium);
        font-size: 18px;
    }
    @if $breakpoint == montserrat-16 {
        @include font(montserrat-regular);
        font-size: 16px;
    }
    @if $breakpoint == poiret-one-120 {
        @include font(poiret-one);
        font-size: 120px;
    }
    @if $breakpoint == darto-120 {
        @include font(darto);
        font-size: 144px;
        line-height: 104px;
        letter-spacing: 0.02em;
    }
}