@mixin resolution($breakpoint) {
    @if $breakpoint == very-big-desktop {
        @media only screen and (min-width: 1800px) {
          @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (max-width: 1500px) {
          @content;
        }
    }
    @if $breakpoint == desktop {
        @media (max-width: 1200px) {
          @content;
        }
    }
    @if $breakpoint == small-desktop {
        @media (max-width: 992px) {
              @content;
        }
    }
    @if $breakpoint == tablet {
        @media (max-width: 768px) {
              @content;
        }
    }
    @if $breakpoint == big-mobile {
        @media (max-width: 480px) {
            @content;
        }
    }
    @if $breakpoint == mobile {
        @media (max-width: 320px) {
            @content;
        }
    }
}

@mixin font($font) {
    @if $font == montserrat-regular {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
    }
    @if $font == montserrat-medium {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
    }
    @if $font == poiret-one {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
    }
    @if $font == darto {
        font-family: 'Darto';
        font-style: normal;
        font-weight: 400;
    }
}

@mixin typography($font) {
    @if $font == montserrat-24 {
        @include font(montserrat-regular);
        font-size: 24px;
    }
    @if $font == montserrat-18 {
        @include font(montserrat-medium);
        font-size: 18px;
    }
    @if $font == montserrat-18-regular {
        @include font(montserrat-regular);
        font-size: 18px;
    }
    @if $font == montserrat-16 {
        @include font(montserrat-regular);
        font-size: 16px;
    }
    @if $font == montserrat-14 {
        @include font(montserrat-regular);
        font-size: 14px;
    }
    @if $font == montserrat-14-medium {
        @include font(montserrat-medium);
        font-size: 14px;
    }
    @if $font == poiret-one-120 {
        @include font(poiret-one);
        font-size: 120px;
    }
    @if $font == darto-120 {
        @include font(darto);
        font-size: 144px;
        line-height: 104px;
        letter-spacing: 0.02em;
    }
}