// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-woodsmoke: #0F0F10;
$color-shark: #1E2022;
$color-mine-shaft: #292929;
$color-tuna: #33363A;
$color-chalky: #F0CA99;
$color-coconut-cream: #F8F0D6;
$color-gradient: linear-gradient(141.55deg, $color-chalky 26.61%, $color-coconut-cream 109.31%);