<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Портфолио - Лемешко Анастасия</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <header class="header">
    <nav class="header__menu">
      <ul class="header__list">
        <li class="header__list__item">
          <a href="#about" class="header__list__link">ОБО МНЕ</a>
        </li>
        <li class="header__list__item">
          <a href="#portfolio" class="header__list__link">ПОРТФОЛИО</a>
        </li>
        <li class="header__list__item">
          <a href="#" class="header__list__link">НАВЫКИ</a>
        </li>
        <li class="header__list__item">
          <a href="#" class="header__list__link">КОНТАКТЫ</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list__item">
          <a href="#" class="menu__list__link"><div class="menu__list__line menu__list__line_active"></div></a>
          <div class="menu__list__line__shadow"></div>
        </li>
        <li class="menu__list__item">
          <a href="#about" class="menu__list__link"><div class="menu__list__line"></div></a>
        </li>
        <li class="menu__list__item">
          <a href="#portfolio" class="menu__list__link"><div class="menu__list__line"></div></a>
        </li>
        <li class="menu__list__item">
          <a href="#" class="menu__list__link"><div class="menu__list__line"></div></a>
        </li>
        <li class="menu__list__item">
          <a href="#" class="menu__list__link"><div class="menu__list__line"></div></a>
        </li>
      </ul>
    </nav>
    <section class="main">
      <div class="main__info">
        <div class="main__info__text">
          <span class="main__info__text-2">Анастасия</span>
          <span class="main__info__text-2">Лемешко</span>
        </div>
      </div>
      <div class="main__button">
        <div class="main__button__background"></div>
        <span class="main__button__text">МОИ КОНТАКТЫ</span>
        <span class="main__button__text__shadow">МОИ КОНТАКТЫ</span>
      </div>
      <div class="main__scroll">
        <img class="main__scroll__mouse" src="./assets/icons/mouse.svg" alt="icon mouse">
        <img class="main__scroll__arrow" src="./assets/icons/arrow.svg" alt="icon arrow">
      </div>
    </section>
    <section id="about" class="about">
      <img src="./assets/img/about.png" alt="title" class="about__title">
      <div class="about__content">
        <img src="./assets/img/image-me.jpg" alt="image me" class="about__image">
        <div class="about__text">
          <p>
            <span>Меня зовут Настя. Я закончила направление «Прикладная математика и информатика» 
              Самарского университета, где впервые и познакомилась со сферой веб-разработки 
            </span>
            <span><эмодзи добрый></span>
          </p>
          <p>
            <span>
              Огромный простор для творчества , свойственный этой профессии, заряжает меня энергией, 
              достаточной на то, чтобы сидеть столько, сколько потребуется для завершения проекта и до тех пор, 
              пока каждый пиксель не встанет на нужное место. Даже если для этого придется пожертвовать сном 
            </span>
            <span><эмодзи кофе></span>
          </p>
          <p>
            <span>
              Для меня готовность проекта - приоритет. Так что я готова столкнуться с любыми сложностями, чтобы 
              Вы получили желаемое в установленные сроки  
            </span>
            <span><эмодзи сто процентов></span>
          </p>
        </div>
      </div>
    </section>
    <section id="portfolio" class="portfolio">
      <img src="./assets/img/portfolio.png" alt="title" class="portfolio__title">
      <div class="portfolio__slider">
        <div class="portfolio__background"></div>
        <div class="portfolio__works">
          <img src="./assets/img/portfolio1.png" alt="image work" class="portfolio__works__item">
          <img src="./assets/img/portfolio2.png" alt="image work" class="portfolio__works__item portfolio__works__item_active">
          <img src="./assets/img/portfolio3.png" alt="image work" class="portfolio__works__item">
        </div>
        <div class="portfolio__arrow">
          <svg class="portfolio__arrow__left">
            <use xlink:href="./assets/icons/icons.svg#left"></use>
          </svg>
          <svg class="portfolio__arrow__right">
            <use xlink:href="./assets/icons/icons.svg#right"></use>
          </svg>
        </div>
        <div class="portfolio__pagination">
          <div class="portfolio__pagination__item"></div>
          <div class="portfolio__pagination__item portfolio__pagination__item_active"></div>
          <div class="portfolio__pagination__item"></div>
        </div>
      </div>
    </section>
    <section class="skills">
      <img src="./assets/img/skills.png" alt="title" class="skills__title">
      <div class="skills__content">
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__color"></div>
            <div class="skills__circle__color__inner"></div>
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">HTML</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">CSS</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">JavaScript</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">Sass</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">Webpack</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">Git</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">Figma</span>
        </div>
        <div class="skills__item">
          <div class="skills__circle">
            <div class="skills__circle__inner"></div>
          </div>
          <span class="skills__name">Adobe Photoshop</span>
        </div>
      </div>
    </section>
  </main>
</body>
</html>