.about {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        width: 474px;
        margin-bottom: 115px;

        @include resolution(tablet) {
            width: 350px;
        }

        @include resolution(big-mobile) {
            width: 260px;
        }
    }

    &__content {
        width: 1170px;
        width: 80%;
        display: flex;
        justify-content: space-between;

        @include resolution(tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        width: 428px;
        height: 570px;

        @include resolution(desktop) {
            width: 400px;
            height: 532px;
        }

        @include resolution(small-desktop) {
            width: 300px;
            height: 400px;
            margin-top: 30px;
        }
    }

    &__text {
        @include typography(montserrat-16);
        margin-top: 30px;
        width: 575px;

        @include resolution(big-desktop) {
            margin-top: 0;
            width: 500px;
        }

        @include resolution(desktop) {
            width: 410px;
            font-size: 14px;
        }

        @include resolution(small-desktop) {
            width: 350px;
        }

        @include resolution(tablet) {
            width: 410px;
            text-align: center;
        }

        @include resolution(big-mobile) {
            width: 280px;
        }

        p {
            margin-top: 80px;

            @include resolution(small-desktop) {
                margin-top: 50px;
            }
        }

        span:nth-child(2n) {
            font-weight: 700;
            background: $color-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: italic;
        }

        span:nth-child(2n + 1) {
            color: $color-white;
        }
    }
}