.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background: url(./../img/giphy.gif) right 135px no-repeat;
    background-size: 700px 700px;

    @include resolution(small-desktop) {
        background: none;
    }

    &__title {
        width: 422px;

        @include resolution(tablet) {
            width: 350px;
        }

        @include resolution(big-mobile) {
            width: 250px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 135px;
        width: 310px;
        animation: fadeInLeft;
        animation-duration: 2s;

        @include resolution(tablet) {
            width: 100%;
            align-items: center;
        }

        &__text {
            @include typography(montserrat-18-regular);
            color: $color-white;

            @include resolution(tablet) {
                text-align: center;
            }

            @include resolution(big-mobile) {
               font-size: 16px;
            }
        }

        &__social {
            display: flex;
            flex-direction: column;
            margin-top: 18px;

            @include resolution(tablet) {
                width: 300px;
            }

            @include resolution(big-mobile) {
                width: 250px;
            }
        }

        &__link {
            @include typography(montserrat-14);
            color: $color-white;
            list-style: none;
            text-decoration: none;
            margin-bottom: 15px;
            transition: 1s;

            &:hover {
                font-size: 14.5px;
            }

            &__email::before {
                content: "";
                margin-right: 15px;
                display: inline-block;
                vertical-align: middle;
                width: 25px;
                height: 25px;
                background-image: url('./../icons/email.svg');

                @include resolution(big-mobile) {
                    margin-bottom: 5px;
                 }
            }

            &__telegram::before {
                content: "";
                margin-right: 15px;
                display: inline-block;
                vertical-align: middle;
                width: 25px;
                height: 25px;
                background-image: url('./../icons/telegram.svg');
            }

            &__github::before {
                content: "";
                margin-right: 15px;
                display: inline-block;
                vertical-align: middle;
                width: 25px;
                height: 25px;
                background-image: url('./../icons/github.svg');
            }
        }
    }

    &__text {
        margin: 50px 0 150px;
        @include typography(montserrat-16);
        line-height: 24px;
        color: $color-white;
        width: 574px;
        animation: fadeInLeft;
        animation-duration: 2s;

        @include resolution(tablet) {
            text-align: center;
            width: 100%;
        }

        @include resolution(big-mobile) {
            margin: 50px 0 100px;
         }
    }
}