.header {
    width: 100%;
    margin-top: 30px;

    &__menu {
        width: 1170px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        
        &__item {
            list-style: none;
        }

        &__link {
            text-decoration: none;
            color: $color-white;
            @include typography(montserrat-16);
            transition: all 1s;

            &:hover {
                border-bottom: 1px solid transparent;
                border-image: $color-gradient;
                border-image-slice: 1;
                color: $color-chalky;
            }
        }
    }
}