.header {
    width: 100%;
    margin-top: 30px;

    @include resolution(big-mobile) {
        display: flex;
        justify-content: center;
    }

    &__menu {
        width: 1170px;
        margin: 0 auto;

        @include resolution(big-desktop) {
            width: 1000px;
        }

        @include resolution(desktop) {
            width: 800px;
        }

        @include resolution(small-desktop) {
            width: 600px;
        }

        @include resolution(tablet) {
            width: 400px;
        }

        @include resolution(big-mobile) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        
        &__item {
            list-style: none;
        }

        &__link {
            text-decoration: none;
            color: $color-white;
            @include typography(montserrat-16);
            transition: all 1s;

            @include resolution(desktop) {
                font-size: 14px;
            }

            @include resolution(tablet) {
               font-size: 12px;
            }

            &:hover {
                border-bottom: 1px solid transparent;
                border-image: $color-gradient;
                border-image-slice: 1;
                color: $color-chalky;
            }
        }
    }
}