.menu {
    position: fixed;
    left: 35px;
    top: 130px;

    @include resolution(very-big-desktop) {
        top: 200px;
    }

    @media (max-width: 1799px) {
        top: 130px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        position: relative;

        &__item {
            list-style: none;
            margin-top: 40px;

            @include resolution(very-big-desktop) {
                margin-top: 80px;
            }
        
            @media (max-width: 1799px) {
                margin-top: 40px;
            }

            @include resolution(desktop) {
                margin-top: 30px;
            }

            &:first-child {
                margin-top: 0;
            }
        }

        &__link {
            text-decoration: none;
            cursor: pointer;
        }

        &__line {
            background: $color-mine-shaft;
            width: 2px;
            height: 60px;
            transition: 0.5s;

            @include resolution(very-big-desktop) {
                width: 4px;
                height: 80px;
            }
        
            @media (max-width: 1799px) {
                width: 2px;
                height: 60px;
            }

            @include resolution(desktop) {
                height: 50px;
            }

            @include resolution(tablet) {
                height: 40px;
            }

            &_active {
                background: $color-gradient;
            }

            &__shadow {
                position: absolute;
                top: 0;
                left: 0;
                background: $color-gradient;
                width: 4px;
                height: 60px;
                filter: blur(4px);
                cursor: pointer;

                @include resolution(very-big-desktop) {
                    width: 4px;
                    height: 80px;
                }
            
                @media (max-width: 1799px) {
                    width: 2px;
                    height: 60px;
                }

                @include resolution(desktop) {
                    height: 50px;
                }

                @include resolution(tablet) {
                    height: 40px;
                }
            }

            &:hover {
                background: $color-white;
            }
        }
    }
}