.background {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    cursor: pointer;
}

.popup {
    position: fixed;
    display: none;
    top: 10%;
    left: 14%;
    width: 1044px;
    height: 564px;
    background: $color-popup;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
    padding-right: 50px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 20px;
        border-radius: 20px;
        background: $color-black;
    }
    
    &::-webkit-scrollbar-thumb {
        border: 2px solid $color-tuna;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: -10px -10px 20px $color-mine-shaft-opacity inset;
        border-radius: 20px;
    }

    &__title {
        margin: 50px 50px 0;
        @include typography(montserrat-36);
        color: $color-white;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 50px 0;
    }

    &__description {
        max-width: 400px;

        &:nth-child(2) {
            margin-top: 10px;
        }
    }

    &__text {
        @include typography(montserrat-18);
        color: $color-white;
    }

    &__link {
        @include typography(montserrat-18-italic);
        color: $color-white;
        text-decoration: none;
        background: $color-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__deadline {
        margin-top: 50px;
        max-width: 400px;
        @include typography(montserrat-18-regular);
        color: $color-white;
    }

    &__line {
        width: 200px;
        height: 2px;
        background: $color-gradient;
    }

    &__technologies {
        margin: 50px 50px 0;
        
        p {
            @include typography(montserrat-18);
            color: $color-white;
        }
    }

    &__list {
        margin-top: 20px;

        li {
            margin-left: 20px;
            @include typography(montserrat-18-regular);
            color: $color-white;

            &::marker {
                color: $color-chalky;
            }

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }

    &__code {
        margin: 50px 50px 0;
    }

    &__mockup {
        display: flex;
        justify-content: center;
        margin: 50px;
    }
}