.portfolio {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 105px;

    &__title {
        width: 540px;

        @include resolution(small-desktop) {
            width: 460px;
        }

        @include resolution(tablet) {
            width: 350px;
        }

        @include resolution(big-mobile) {
            width: 250px;
        }
    }

    &__background {
        position: absolute;
        top: 350px;
        width: 80%;
        height: 30%;
        background: $color-gradient;
        border-radius: 400px / 100px;
        filter: blur(100px);
        opacity: 0.2;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1169px;
        height: 500px;
        margin-top: 160px;

        .swiper-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            height: 208px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            width: 178px;
            height: 95px;
            transition: all 1s;
            cursor: pointer;
        
            &-active {
                width: 390px;
                height: 208px;
        
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }


    // &__image {
    //     width: 178px;
    //     height: 95px;
    //     cursor: pointer;

    //     &_active {
    //         width: 480px;
    //         height: 270px;
    //     }
    // }

    &__arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 230px;
        // top: 600px;
        width: 770px;

        @include resolution(desktop) {
            width: 640px;
            top: 190px;
        }

        @include resolution(small-desktop) {
            width: 460px;
            top: 130px;
        }

        @include resolution(tablet) {
            width: 75%;
            top: 35%;
        }

        @media (max-width: 600px) {
            top: 30%;
        }

        @include resolution(big-mobile) {
            top: 25%;
        }

        // &__left, &__right {
        //     width: 392px;
        //     height: 104px;
        //     cursor: pointer;
        //     transition: 1s;

        //     &:hover {
                
        //     }
        // }
    }

    .arrow {
        &__left, &__right {
            width: 392px;
            height: 104px;
            cursor: pointer;
            transition: 1s;

            &:hover {
                
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        width: 84px;
        cursor: pointer;

        // &__item {
        //     width: 12px;
        //     height: 12px;
        //     background: $color-mine-shaft;
        //     border-radius: 10px;
            
        //     &_active {
        //         width: 30px;
        //         background: $color-gradient;
        //     }
        // }
    }
}




// .slider {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     width: 1169px;
//     height: 500px;
//     margin-top: 160px;
// }

// .slider .swiper-wrapper {
//     position: relative;
//     display: flex;
//     align-items: center;
//     height: 208px;
// }

// .slider .swiper-slide {
//     display: flex;
//     justify-content: center;
//     width: 178px;
//     height: 95px;
//     transition: all 1s;
//     cursor: pointer;

//     &-active {
//         width: 390px;
//         height: 208px;

//         img {
//             width: 100%;
//             height: 100%;
//         }
//     }
// }

// .portfolio__background {
//     position: absolute;
//     top: 350px;
//     width: 80%;
//     height: 30%;
//     background: $color-gradient;
//     border-radius: 400px / 100px;
//     filter: blur(100px);
//     opacity: 0.2;
// }

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 105px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $color-mine-shaft;
    border-radius: 10px;
    opacity: 1;

    &-active {
        width: 45px;
        background: $color-gradient;
    }
}