.portfolio {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 105px;

    &__title {
        width: 540px;

        @include resolution(small-desktop) {
            width: 460px;
        }

        @include resolution(tablet) {
            width: 350px;
        }

        @include resolution(big-mobile) {
            width: 250px;
        }
    }

    &__background {
        position: absolute;
        top: 350px;
        width: 70%;
        height: 30%;
        background: $color-gradient;
        border-radius: 400px / 100px;
        filter: blur(100px);
        opacity: 0.2;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 1169px;
        height: 500px;
        margin-top: 160px;

        @include resolution(desktop) {
            width: 70%;
        }

        .swiper-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            height: 208px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            width: 178px;
            height: 95px;
            transition: all 1s;
            cursor: pointer;

            @include resolution(tablet) {
                width: 20%;
                height: 20%;
            }
        
            &-active {
                position: relative;
                width: 390px;
                height: 230px;

                @include resolution(desktop) {
                    width: 400px;
                    height: 225px;
                }

                @include resolution(small-desktop) {
                    width: 250px;
                    height: 140px;
                }

                @include resolution(tablet) {
                    width: 48%;
                    height: 50%;
                }
        
                img {
                    width: 100%;
                    height: 100%;
                }

                .slide__hover {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    background: $color-shark-opacity;
                    opacity: 0;
                    transition: all 0.5s;

                    &_active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 230px;
        width: 770px;

        @include resolution(desktop) {
            width: 640px;
            top: 190px;
        }

        @include resolution(small-desktop) {
            width: 460px;
            top: 170px;
        }

        @include resolution(tablet) {
            width: 75%;
            top: 35%;
        }

        @media (max-width: 600px) {
            top: 30%;
        }

        @include resolution(big-mobile) {
            top: 25%;
        }
    }

    .arrow {
        &__left, &__right {
            width: 392px;
            height: 104px;
            cursor: pointer;
            transition: 1s;
        }
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        width: 84px;
        cursor: pointer;
    }

    &__text {
        margin: 50px 0;
        @include typography(montserrat-24);
        color: $color-white;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 50px;
        background: $color-shark;
        box-shadow: inset 10px 10px 30px $color-woodsmoke, inset -10px -10px 30px $color-tuna;
        border-radius: 30px;
        cursor: pointer;
        transition: 1s;

        &__background {
            position: absolute;
            width: 170px;
            height: 35px;
            border-radius: 20px;
            background: $color-shark;
            box-shadow: 10px 10px 30px $color-woodsmoke;
            filter: blur(2px);
        }

        &__text {
            position: absolute;
            @include typography(montserrat-14-medium);
            background: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:hover {
            border: 2px solid $color-chalky;
            transform: scale(1.05);

            .portfolio__button__text {
                background: $color-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    width: 105px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $color-mine-shaft;
    border-radius: 10px;
    opacity: 1;

    &-active {
        width: 45px;
        background: $color-gradient;
    }
}